/* Colors*/
/* greens */
* {
  font-size: 12px;
  font-family: 'Cormorant Garamond', serif;
  text-decoration: none;
}

h2 {
  margin: 0;
  font-weight: 100;
}

body {
  margin: 0;
  background-color: #dddf00;
}

main {
  max-width: 1920px;
  margin: 0 auto;
}

main .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  background-color: #dddf00;
}

main .gallery figure {
  margin: 0;
}

main .gallery figure img {
  width: 100%;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 1em;
  border-radius: 20%;
  cursor: pointer;
  white-space: nowrap;
  background-color: #ee6c4d;
}

.display-top-right {
  position: absolute;
  right: 0;
  top: 0;
}

header {
  max-width: 1920px;
  height: 40vh;
  background-image: url("img/header.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

header nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  max-width: 1920px;
}

header nav .lista {
  padding-top: .3em;
  background-color: #55a630;
  z-index: 5;
}

header nav .lista h1 {
  display: inline-block;
  font-size: 3em;
  margin: 0 0 0 .3em;
  -webkit-animation-name: nadpis;
          animation-name: nadpis;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

header nav .lista .mobile-nav-toggle {
  margin-right: .5em;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .lista .mobile-nav-toggle span,
header nav .lista .mobile-nav-toggle span:before,
header nav .lista .mobile-nav-toggle span:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background: #000;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header nav .lista .mobile-nav-toggle span:before {
  top: -10px;
}

header nav .lista .mobile-nav-toggle span:after {
  top: 8px;
}

header nav .lista .mobile-nav-toggle.nav-open span {
  background: transparent;
}

header nav .lista .mobile-nav-toggle.nav-open span:before,
header nav .lista .mobile-nav-toggle.nav-open span:after {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

header nav .lista .mobile-nav-toggle.nav-open span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav ul li {
  opacity: 0;
  width: 100%;
  padding: 0.3em 0 0.3em 0;
  text-align: center;
  background-color: #80b918;
}

header nav ul li:nth-child(1) {
  -webkit-animation-name: dropdown-menu;
          animation-name: dropdown-menu;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: -150ms;
          animation-delay: -150ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header nav ul li:nth-child(2) {
  -webkit-animation-name: dropdown-menu;
          animation-name: dropdown-menu;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header nav ul li:nth-child(3) {
  -webkit-animation-name: dropdown-menu;
          animation-name: dropdown-menu;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header nav ul li:nth-child(4) {
  -webkit-animation-name: dropdown-menu;
          animation-name: dropdown-menu;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header nav ul li:hover {
  background-color: #ee6c4d;
}

header nav ul a {
  display: inline-block;
  width: 100%;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
}

@-webkit-keyframes nadpis {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nadpis {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dropdown-menu {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  60% {
    -webkit-transform: rotateX(50deg);
            transform: rotateX(50deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes dropdown-menu {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  60% {
    -webkit-transform: rotateX(50deg);
            transform: rotateX(50deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes menu-row {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-row {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-close {
  display: none;
}

.active {
  color: #000;
}

@-webkit-keyframes slideDown {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}

@keyframes slideDown {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}

#papel-page header {
  background-image: url("img/papelmache/uvod-modal-1.jpg");
}

#papel-page h2 {
  font-size: 2rem;
  padding: 1em 1em 0 1em;
}

#papel-page section p {
  padding: 1rem 3rem;
}

#siti-page header {
  height: 60vh;
  background-image: url("img/siti/andelicci.jpg");
  background-position: top -10em center;
}

#siti-page h2 {
  font-size: 2rem;
  padding: 1em 1em 0 1em;
}

#siti-page section p {
  padding: 1rem 3rem;
}

#vylety-page header {
  height: 60vh;
  background-image: url("img/header.jpg");
  background-position: top 0 center;
}

/* Main content */
section {
  border-top: solid 0.5em #55a630;
}

#vylety,
#papelmache,
#siti,
#kontakt {
  background-color: #dddf00;
}

#vylety img,
#papelmache img,
#siti img,
#kontakt img {
  width: 100%;
}

#vylety h2,
#papelmache h2,
#siti h2,
#kontakt h2 {
  padding: 1em;
  font-size: 2em;
  text-align: center;
}

#vylety .wrapper,
#papelmache .wrapper,
#siti .wrapper,
#kontakt .wrapper {
  display: none;
}

/* Kontakt*/
#kontakt {
  background-color: #80b918;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#kontakt a {
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
}

/* Footer */
footer {
  background-color: #55a630;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 2em;
  padding-right: .5em;
}

footer img {
  width: 60%;
}

/* Modal */
.modal {
  z-index: 3;
  width: 100%;
  height: 100%;
  display: none;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(22, 22, 22, 0.6);
}

.modal-content {
  z-index: 4;
  margin: auto;
  position: relative;
  width: 90vw;
  max-width: 1920px;
  height: auto;
  background-color: #aacc00;
  padding: 1em;
}

.modal-content .mySlides {
  width: 100%;
  margin: auto;
}

.modal-content .mySlides img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.modal-content .mySlides p {
  font-size: 1.3em;
  padding-left: 1em;
}

.modal-content .modal-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-content .modal-header p {
  margin: 0;
  padding: 0;
}

.modal-container {
  padding: 2em;
}

.arrows {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow-right {
  padding: 1em 1em;
  cursor: pointer;
}

.arrow-left {
  padding: 1em 1em;
  cursor: pointer;
}

.closeModal {
  top: 0;
  right: 0;
  float: right;
  position: relative;
  font-size: 2em;
  color: #ac0404;
  cursor: pointer;
  z-index: 5;
}

#caption {
  padding: 0;
  font-size: 2em;
  text-align: center;
}

/* Breakpoints*/
@media screen and (min-width: 510px) {
  #papelmache a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #papelmache a img {
    display: none;
  }
  #papelmache a h2 {
    left: 1em;
    bottom: 0;
    position: absolute;
    padding-left: .5em;
  }
  #papelmache a > div {
    background-color: #dddf00;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    width: 200px;
  }
  #papelmache a .wrapper {
    display: block;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    background: url("img/papelmache/uvod.jpg");
    background-size: cover;
    background-position: top 0 left 6vw;
    width: 60%;
    height: 30vh;
    overflow: hidden;
    position: relative;
  }
  #papelmache a .wrapper .cut {
    background: #dddf00;
    position: absolute;
    top: 20rem;
    left: -16rem;
    width: 60rem;
    height: 25rem;
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  #siti a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #siti a img {
    display: none;
  }
  #siti a h2 {
    position: absolute;
    right: 6vw;
    bottom: 6vh;
  }
  #siti a > div {
    background-color: #dddf00;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    width: 200px;
  }
  #siti a .wrapper {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background: url("img/siti/kouzelnik.jpg");
    background-size: cover;
    background-position: top 0 left -4vw;
    width: 60%;
    height: 30vh;
    overflow: hidden;
    position: relative;
  }
  #siti a .wrapper .cut {
    background: #dddf00;
    position: absolute;
    top: 20rem;
    right: -16rem;
    width: 60rem;
    height: 25rem;
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  #vylety a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #vylety a img {
    display: none;
  }
  #vylety a h2 {
    left: 6vw;
    bottom: 6vh;
    padding-left: .5em;
    position: absolute;
  }
  #vylety a > div {
    background-color: #dddf00;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    width: 200px;
  }
  #vylety a .wrapper {
    display: block;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    background: url("img/vylety/ja-na-moste.jpg");
    background-size: cover;
    background-position: top 0 left 0vw;
    width: 60%;
    height: 30vh;
    overflow: hidden;
    position: relative;
  }
  #vylety a .wrapper .cut {
    background: #dddf00;
    position: absolute;
    top: 20rem;
    left: -16rem;
    width: 60rem;
    height: 25rem;
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}

@media screen and (min-width: 760px) {
  .nav-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header {
    height: 60vh;
  }
  header nav .lista .mobile-nav-toggle {
    display: none;
  }
  header nav ul {
    width: 70vw;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav ul li {
    width: auto;
    padding: 1em 2em 1em 0;
    background-color: transparent;
  }
  header nav ul li:nth-child(1) {
    -webkit-animation-name: menu-row;
            animation-name: menu-row;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 50ms;
            animation-delay: 50ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  header nav ul li:nth-child(2) {
    -webkit-animation-name: menu-row;
            animation-name: menu-row;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  header nav ul li:nth-child(3) {
    -webkit-animation-name: menu-row;
            animation-name: menu-row;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 750ms;
            animation-delay: 750ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  header nav ul li:nth-child(4) {
    -webkit-animation-name: menu-row;
            animation-name: menu-row;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1100ms;
            animation-delay: 1100ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  header nav ul li:hover {
    background-color: transparent;
  }
  header nav ul a:hover {
    color: #000;
  }
  #papel header {
    height: 100vh;
  }
  main .gallery {
    -ms-grid-columns: (minmax(33%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }
  #papelmache a .wrapper {
    width: 100%;
    height: 50vh;
  }
  #siti a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #siti a .wrapper {
    width: 100%;
    height: 50vh;
  }
  #vylety a .wrapper {
    background-position: top -2vw left 0vw;
    width: 100%;
    height: 50vh;
  }
}

@media screen and (min-width: 1000px) {
  header {
    height: 90vh;
    background-position: top 3em center;
  }
  #papelmache a > div {
    width: 50vw;
  }
  #papelmache a h2 {
    left: 6vw;
    bottom: 5vh;
    font-size: 3em;
  }
  #papelmache a .wrapper {
    width: 100%;
    height: 60vh;
  }
  #papelmache a .wrapper .cut {
    left: -25rem;
    width: 80rem;
    height: 50rem;
  }
  #siti a h2 {
    font-size: 3em;
    right: 1vw;
    bottom: 5vh;
  }
  #siti a .wrapper {
    background-position: top -10vw left -4vw;
    width: 100%;
    height: 60vh;
  }
  #siti a .wrapper .cut {
    top: 30rem;
    right: -16rem;
    width: 80rem;
    height: 40rem;
  }
  #vylety a h2 {
    font-size: 3em;
  }
  #vylety a .wrapper {
    background-position: top -10vw left 0vw;
    width: 80%;
    height: 60vh;
  }
  #vylety a .wrapper .cut {
    left: -25rem;
    width: 80rem;
    height: 50rem;
  }
  #vylety-page header {
    height: 80vh;
  }
  .modal-content {
    max-height: 100vh;
  }
  .modal-content img {
    max-height: 80vh;
    max-width: 110em;
  }
}
/*# sourceMappingURL=style.css.map */