@import 'styles/variables'

*
    font-size: 12px
    font-family: 'Cormorant Garamond', serif
    text-decoration: none
h2
    margin: 0
    font-weight: 100
body
    margin: 0
    background-color: $greenDd
main
    max-width: 1920px
    margin: 0 auto
    .gallery
        display: grid
        grid-template-columns: repeat( auto-fill , minmax(18em, 1fr) )
        background-color: $greenDd
        figure
            
            margin: 0
            img
                width: 100%

@import 'styles/helpers'
@import 'styles/header'
@import 'styles/subPages'

/* Main content */
    
section
    border-top: solid .5em $green55
      
#vylety,
#papelmache,
#siti,
#kontakt
    background-color: $greenDd
    img
        width: 100%
    h2
        padding: 1em
        font-size: 2em
        text-align: center
    
    .wrapper
        display: none

/* Kontakt*/

#kontakt
    background-color: $green80
    padding: 1em
    display: flex
    flex-direction: column
    justify-content: center
    a
        font-size: 1em
        text-decoration: none
        display: inline-block

/* Footer */

footer
    background-color: $green55
    div
        display: flex
        justify-content: center
        align-items: center
    p
        font-size: 2em
        padding-right: .5em
    img
        width: 60%


/* Modal */

@import 'styles/modal'

/* Breakpoints*/

$first-break: 510px
$second-break: 760px
$third-break: 1000px


@media screen and (min-width: $first-break)
    
    #papelmache
        a
            width: 100%
            display: flex
            position: relative
            justify-content: center
            img
                display: none
            h2
                left: 1em
                bottom: 0
                position: absolute
                padding-left: .5em
            & > div
                background-color: $greenDd
                flex-grow: 3
                width: 200px
            .wrapper
                display: block
                flex:
                    grow: 2
                background: url('img/papelmache/uvod.jpg')
                    size: cover
                    position: top 0 left 6vw
                width: 60%
                height: 30vh
                overflow: hidden
                position: relative
                .cut
                    background: $greenDd
                    position: absolute
                    top: 20rem
                    left: -16rem
                    width: 60rem
                    height: 25rem
                    transform-origin: center top
                    transform: rotate(60deg)  
    #siti
        a
            width: 100%
            display: flex
            flex-direction: row-reverse
            position: relative
            justify-content: center
            img
                display: none
            h2
                position: absolute
                right: 6vw
                bottom: 6vh
            & > div
                background-color: $greenDd
                flex-grow: 3
                width: 200px
            .wrapper
                display: block
                flex:
                    grow: 1
                background: url('img/siti/kouzelnik.jpg')
                    size: cover
                    position: top 0 left -4vw
                width: 60%
                height: 30vh
                overflow: hidden
                position: relative
                .cut
                    background: $greenDd
                    position: absolute
                    top: 20rem
                    right: -16rem
                    width: 60rem
                    height: 25rem
                    transform-origin: center top
                    transform: rotate(-60deg)
    #vylety
        a
            width: 100%
            display: flex
            position: relative
            justify-content: center
            img
                display: none
            h2
                left: 6vw
                bottom: 6vh
                padding-left: .5em
                position: absolute
            & > div
                background-color: $greenDd
                flex-grow: 3
                width: 200px
            .wrapper
                display: block
                flex:
                    grow: 2
                background: url('img/vylety/ja-na-moste.jpg')
                    size: cover
                    position: top 0 left 0vw
                width: 60%
                height: 30vh
                overflow: hidden
                position: relative
                .cut
                    background: $greenDd
                    position: absolute
                    top: 20rem
                    left: -16rem
                    width: 60rem
                    height: 25rem
                    transform-origin: center top
                    transform: rotate(60deg)
   
@media screen and (min-width: $second-break)
    .nav-close
        display: flex
    header
        height: 60vh
        nav
            .lista
                .mobile-nav-toggle
                    display: none
            ul
                width: 70vw
                position: absolute
                top: 0
                right: 0
                flex-direction: row
                justify-content: flex-end
                li
                    width: auto
                    padding: 1em 2em 1em 0
                    background-color: transparent
                    
                    @for $i from 1 through 4
                        &:nth-child(#{$i})
                            animation:
                                name: menu-row
                                duration: 1s
                                delay: (350ms * $i) - 300
                                timing-function: ease-in-out
                                fill-mode: forwards
                    &:hover
                        background-color: transparent
                a
                    &:hover
                        color: #000

    #papel // main papelmache
        header
            height: 100vh                
    main
        .gallery
            grid-template-columns: repeat( auto-fill , minmax(33%, 1fr) )
    
    #papelmache
        a
            .wrapper
                width: 100%
                height: 50vh
    #siti
        a
            flex-direction: row-reverse
            .wrapper
                width: 100%
                height: 50vh
    #vylety
        a
            .wrapper
                background-position: top -2vw left 0vw
                width: 100%
                height: 50vh
    

@media screen and (min-width: $third-break)
    header
        height: 90vh
        background:
            position: top 3em center
    #papelmache
        a
            & > div
                width: 50vw
            h2
                left: 6vw
                bottom: 5vh
                font-size: 3em
            .wrapper
                width: 100%
                height: 60vh
                .cut
                    left: -25rem
                    width: 80rem
                    height: 50rem
    #siti
        a
            h2
                font-size: 3em
                right: 1vw
                bottom: 5vh
            .wrapper
                background-position: top -10vw left -4vw
                width: 100%
                height: 60vh
                .cut
                    top: 30rem
                    right: -16rem
                    width: 80rem
                    height: 40rem
    #vylety
        a
            h2
                font-size: 3em
            .wrapper
                background-position: top -10vw left 0vw
                width: 80%
                height: 60vh
                .cut
                    left: -25rem
                    width: 80rem
                    height: 50rem
    #vylety-page // main vylety
        header
            height: 80vh
    .modal-content
        max-height: 100vh          
        img
            max-height: 80vh
            max-width: 110em

    
   
