header
    max-width: 1920px
    height: 40vh
    background:
        image: url('img/header.jpg')
        size: cover
        position: center
        attachment: fixed
    overflow: hidden
    nav
        z-index: 1
        position: fixed
        width: 100%
        max-width: 1920px
        .lista
            padding-top: .3em
            background-color: $green55
            z-index: 5
            h1
                display: inline-block
                font-size: 3em
                margin: 0 0 0 .3em
                animation: 
                    name: nadpis
                    duration: 3s
                    timing-function: ease-in-out

            .mobile-nav-toggle
                margin-right: .5em 
                width: 3rem
                height: 3rem
                cursor: pointer
                display: flex
                float: right
                align-items: center
                span,
                span:before,
                span:after
                    content: ''
                    display: block
                    height: 2px
                    width: 100%
                    background: #000
                    position: relative
                    transition: all 0.3s ease-in-out
                span:before
                    top: -10px
                span:after
                    top: 8px
                &.nav-open span
                    background: transparent
                &.nav-open span:before,
                &.nav-open span:after
                    transform-origin: center
                    transform: rotate(45deg)
                    top: 0
                &.nav-open span:after
                    transform: rotate(-45deg)
        ul
            width: 100% 
            margin: 0
            padding: 0
            list-style: none
            flex-direction: column
            li
                opacity: 0
                width: 100%
                padding: 0.3em 0 0.3em 0
                text-align: center
                background-color: $green80
                @for $i from 1 through 4
                    &:nth-child(#{$i})
                        animation:
                            name: dropdown-menu
                            duration: 300ms
                            delay: (150ms * $i) - 300
                            timing-function: ease-in-out
                            fill-mode: forwards
                &:hover
                    background-color: $orange
            a
                display: inline-block
                width: 100%
                font-size: 2em
                text-decoration: none
                color: #fff
@keyframes nadpis
    0%
        opacity: 0
    100%
        opacity: 1
@keyframes dropdown-menu
    0%
        opacity: 0
        transform: rotateX(-90deg)
    60%
        transform: rotateX(50deg)
    100%
        opacity: 1
        transform: rotateX(0deg)
@keyframes menu-row
    0%
        opacity: 0
    100%
        opacity: 1
.nav-open
    display: flex
.nav-close
    display: none
.active
    color: #000

@keyframes slideDown
    from
        top: -300px
    to
        top: 0px