.button
    display: inline-block
    text-align: center
    padding: 1em
    border-radius: 20%
    cursor: pointer
    white-space: nowrap
    background-color: $orange
.display-top-right
    position: absolute
    right: 0
    top: 0
