.modal
    z-index: 3
    width: 100%
    height: 100%
    display: none
    left: 0
    top: 0
    position: fixed
    background-color: rgba(22, 22, 22, 0.6)
.modal-content
    z-index: 4 
    margin: auto
    position: relative
    width: 90vw
    max-width: 1920px
    height: auto
    background-color: $greenAcc
    padding: 1em
    .mySlides
        width: 100%
        margin: auto
        img
            width: 100%
            display: block
            margin: 0 auto
        p
            font-size: 1.3em
            padding-left: 1em
    .modal-header
        width: 100%
        display: flex
        justify-content: space-between
        p
            margin: 0
            padding: 0
.modal-container
    padding: 2em
.arrows
    position: relative
    margin: 0 auto
    display: flex
    justify-content: center
.arrow-right
    padding: 1em 1em
    cursor: pointer
.arrow-left
    padding: 1em 1em
    cursor: pointer
.closeModal
    top: 0
    right: 0
    float: right
    // margin: .5em .5em 0 0
    position: relative
    font-size: 2em
    color: #ac0404
    cursor: pointer
    z-index: 5
#caption
    padding: 0
    font-size: 2em
    text-align: center