#papel-page // main papelmache
    header
        background:
            image: url('img/papelmache/uvod-modal-1.jpg')
    h2
        font-size: 2rem
        padding: 1em 1em 0 1em
    section
        p
            padding: 1rem 3rem
#siti-page // main siti
    header
        height: 60vh
        background:
            image: url('img/siti/andelicci.jpg')
            position: top -10em center
    h2
        font-size: 2rem
        padding: 1em 1em 0 1em
    section
        p
            padding: 1rem 3rem
#vylety-page // main vylety
    header
        height: 60vh
        background:
            image: url('img/header.jpg')
            position: top 0 center